<div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">
      <p id="notice"><%= notice %></p>

      <h3>Users</h3>
      <%= form_tag("/find_user", method: "get") do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:name) %>
        <%= submit_tag("Search") %>
      <% end %>

    <div class="btn btn-light">
      <%= link_to "All Users", all_users_path, :class => "btn"%>
    </div>
    </div>
  </div>
</div>
